@charset "UTF-8";

#wrap {
    width:1200px; 
    margin:auto
}

.nav > .nav-item > .nav-link {
    background-color:#cc853f; 
    color:white; 
    font-size:17px;
    font-weight: bold;
}
.nav > .nav-item > a:hover {
    background-color:rgb(238, 156, 75);
}

.reservation {
    height:300px; 
    width:400px; 
    background-color:#9e512d;
     color:white;
}

.reservation-confirm {
    height:300px;  
    width:500px; 
    background-color:#d2691d; 
    color:white;
}
.reservation-call {
    height:300px;  
    width:300px; 
    background-color: #9e512d; 
    color:white;
}

.member-input {width:600px}
.input-label {width:90px}
.text-input {width:300px !important;}

address {font-size: 12px; color:gray;}