<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ajfqolee.spring.test.ajax.repository.SiteRepository">
	<select id="selectSiteList"
	resultType="com.ajfqolee.spring.test.ajax.domain.Site">
		SELECT 
			`id`
			, `name`
			, `url`
			, `createdAt`
			, `updatedAt`
		FROM `site`
	</select>

</mapper>

