<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd : xml에서 사용된 태그를 정의한 문서 -->
<!-- Mybatis dtd검색 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ajfqolee.spring.test.database.repository.StoreRepository">
	
	<select id="selectStoreList"
	resultType="com.ajfqolee.spring.test.database.domain.Store">
		SELECT
			 `id`
			,`name`
			,`phoneNumber`
			,`address`
			,`businessNumber`
			,`introduce`
			,`createdAt`
			,`updatedAt`
		FROM `store`
	</select>
</mapper>

